{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Get assigned your house and compeat against other houses!</h2>
            <h5>Learn new spells and challenge yourself in Hogwarts houses</h5>
            <div> 
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <img src="../static/images/Mapping-the-Harry-Potter-Series.png" alt="Hero Header Image" class="header-img">
        </div>
    </header>
  
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your House Score!</h2>
            <p>Increase your house score to unlock more spells!</p>
        </div>
    </section>
   
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../static/images/QWC.webp" alt="Quidditch Image" id="Quidditch-image">
            <h4>Quidditch</h4>
            <p>
                Quidditch sign up page and current house scores!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../static/images/death.png" alt="" id="graphql-image">
            <h4>Spell Training</h4>
            <p>
                Come here to sign up for extra classes in Wizardry!
            </p>
        </div>
         <div class="col-12 col-md-4">
            <img src="../static/images/crossed-wands.png" alt="" id="database-image">
            <h4>Duelling practice</h4>
            <p>
                Sign up to test your spell casting ablility!
            </p>
        </div>
    </section>
   
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../static/images/solemnly.png" alt=" deathly-hallows Image" id="Deathly-Image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with other class mates</h4>
            <p>
                Talk with other wizards around the world and collab
                on spells. Join the Tom Riddle Diary. Join us at
                Diagon Alley.
            </p>
            <div>
                <button class="btn btn-primary">Tom Riddle Diary</button>
                <button class="btn btn-primary">Diagon Alley</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../static/images/potterbroom.jpg" alt="snitch" id="footer-logo">
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Spells</p>
                <p>Hogwarts</p>
                <p>Train</p>
                <p>Muggle new</p>
                <p>Our classes</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Spells</p>
                <p>Hogwarts</p>
                <p>Train</p>
                <p>Muggle new</p>
                <p>Our classes</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Spells</p>
                <p>Hogwarts</p>
                <p>Train</p>
                <p>Muggle new</p>
                <p>Our classes</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Spells</p>
                <p>Hogwarts</p>
                <p>Train</p>
                <p>Muggle new</p>
                <p>Our classes</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Spells</p>
                <p>Hogwarts</p>
                <p>Train</p>
                <p>Muggle new</p>
                <p>Our classes</p>
            </div>
        </div>

    </footer>
</div>




{% endblock content %}